@import 'variables.scss';

.search {
  position: relative;

  &__field {
    display: block;
    width: 100%;
    padding: 5px 10px 5px 5px;
    color: $black-75;
    font-family: $mainFont, Arial, sans-serif;
    border: 1px solid $black-25;
    border-radius: 4px;

    &:focus {
      border: 1px solid $blue;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(0, -50%);
  }
}
