@import './variables.scss';

.drop-list {
  $dropList: &;

  position: relative;
  display: inline-block;
  border: 1px solid $black-25;
  border-radius: 4px;

  @each $name in ('hover', 'focus') {
    &:#{$name} {
      border-color: $blue;
      outline: none;
    }

    &:#{$name} #{$dropList}__btn:after {
      color: $blue;
    }
  }

  &_active {
    #{$dropList}__btn:after {
      color: $blue;
      content: '\f005';
    }

    border: {
      color: $blue;
      radius: 4px 4px 0 0;
    }
  }

  &__field {
    display: block;
    width: 100%;
    height: 32px;
    padding: 0 28px 0 14px;
    color: $black;
    font-family: $mainFont;
    background-color: transparent;
    cursor: pointer;
  }

  &::placeholder {
    color: $black-25;
  }

  &__btn {
    position: absolute;
    top: 50%;
    right: 0px;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    background-color: transparent;
    background-color: white;
    transform: translateY(-50%);

    &:after {
      color: rgba(31, 32, 65, 0.5);
      font-size: 14px;
      font-family: $symFont;
      content: '\f004';
    }
  }

  &__panel {
    position: absolute;
    right: -1px;
    left: -1px;
    z-index: 3;
    background-color: white;
    border: 1px solid $blue;
    border-radius: 0 0 4px 4px;
  }

  &__options {
    height: 100px;
    overflow-y: auto;
  }

  &__item {
    padding: 4px 0 4px 14px;
    color: $black-75;
    cursor: pointer;

    &_focused,
    &:hover {
      color: $white;
      background-color: $blue-alpha;
      outline: none;
    }
  }
}
