.ui {
  padding: 10px;

  &__menu {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-top: 10px;
  }

  &__text {
    margin-bottom: 10px;
  }

  &__example {
    display: flex;
    align-items: flex-start;
  }

  &__check-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: unset;
    }
  }

  &__status {
    margin-left: 10px;
  }

  &__drop {
    display: flex;
    margin-bottom: 10px;
  }

  &__drop-item {
    margin-right: 10px;

    &:last-of-type {
      margin: unset;
    }
  }

  &__drop-label {
    margin-right: 10px;
  }
}

input[type='range'] {
  -webkit-appearance: none;
}
input[type='range']:focus {
  outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  background: $black-25;
  border-radius: 2px;
  cursor: pointer;
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 1px;
  background: $black-25;
  border-radius: 2px;
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
  width: 12px;
  height: 20px;
  margin-top: -10px;
  background: #ffffff;
  border: 1px solid $black-50;
  border-radius: 3px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type='range']:focus::-webkit-slider-thumb,
input[type='range']:hover::-webkit-slider-thumb {
  border-color: $blue;
}

input[type='range']::-moz-range-thumb {
  width: 12px;
  height: 20px;
  margin-top: -10px;
  background: #ffffff;
  border: 1px solid $black-50;
  border-radius: 3px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: $blue;
}
